<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>主界面</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
		<script src="../js/ajaxOperation.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/main.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header class="header mainBorder">logo</header>
		<section class="body mainBorder">
			<nav class="menu innerBorder" id="mainMenu">
			</nav>
			<article class="page innerBorder">
				<iframe name="mainIframe"></iframe>
			</article>
		</section>
		<footer class="footer mainBorder">end</footer>
	</body>
</html>
